@media (max-width: 575px) {
  header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    transition: all linear 0.2s;
  }

  header.navFixed {
    top: 0;
    background: #dbecff;
  }

  header nav .navbar-nav {
    text-align: center;
  }

  header nav .navbar-nav .nav-item .nav-link {
    line-height: 25px;
    padding: 0;
    transition: all linear 0.2s;
  }

  /*header part ends*/
  .right_menu li a::after {
    position: absolute;
    content: "";
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  header nav .right_menu li a.nav-link {
    padding: 5px 0;
  }

  header nav .right_menu li.shop-padding {
    padding: 0;
  }

  .banner_image {
    left: 50%;
    transform: translateX(-50%);
  }
  #banner .banner_text {
    text-align: center;
    padding-top: 0;
  }
  .hero-shape {
    display: none;
  }
  #banner .banner_text h3 {
    padding-top: 60px;
    font-size: 24px;
  }

  #banner .banner_text p {
    text-align: justify;
  }

  #banner .banner_text h1 {
    font-size: 35px;
  }

  #banner .banner_text a {
    margin-top: 30px;
    margin-bottom: 0;
  }
  #banner .banner_image img.banner_img {
    width: 200px !important;
    height: 200px;
  }
  #banner .banner_image {
    padding-top: 80px;
  }
  header nav .navbar-nav .nav-item:hover .dropdown {
    top: 25px;
  }

  header nav .navbar-nav .nav-item .dropdown,
  header nav .right_menu .nav_item .dropdown {
    left: 328px;
  }

  header nav .right_menu .nav_item .dropdown2 {
    width: 210px;
    left: 307px;
    padding-bottom: 10px;
  }

  header nav .navbar-nav .nav-item .dropdown,
  header nav .right_menu .nav_item .dropdown {
    left: 0;
  }

  header nav .right_menu .nav_item .dropdown2 h3 {
    font-size: 14px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a p,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a p {
    font-size: 14px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a span,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a span {
    font-size: 12px;
    font-weight: 500;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a .icon i,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a .icon i {
    right: -45px;
  }

  header nav .right_menu .nav_item .dropdown3 {
    left: 50%;
    top: 70px;
    width: 190px;
    padding-bottom: 10px;
  }

  header nav .right_menu .nav_item:hover .dropdown3 {
    top: 24px;
  }

  header nav .right_menu .nav_item .dropdown3 h3 {
    padding: 10px 5px;
    font-size: 14px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 {
    padding-bottom: 0;
    padding: 10px 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a p,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a p {
    font-size: 14px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a span,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a span {
    font-size: 12px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a .icon i,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a .icon i {
    right: -37px;
    top: -25px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.total span {
    font-size: 14px;
    padding: 10px 0;
  }

  header nav .right_menu .nav_item .dropdown3 ol {
    margin-top: 5px;
  }

  header nav .right_menu .nav_item .dropdown3 ol li a {
    line-height: 30px;
    font-size: 13px;
    padding: 0 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 li {
    margin-bottom: 5px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 img {
    width: 50px !important;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 {
    padding-top: 0px;
  }

  /*    /banner part ends*/

  /* Counter up part */

  .rating-content {
    margin: 15px 0;
  }

  .rating-rounded {
    margin: 0 10px;
  }

  .single-product-menu ul li a {
    padding: 10px 20px 10px 21px;
  }

  .pagination > li > a {
    border-radius: 0 !important;
    border-color: #555;
    color: #555;
    padding: 8px 12px;
  }

  #prouct_part .numbe_page p {
    text-align: left;
  }

  #prouct_part .sort_icon {
    text-align: left;
  }

  #prouct_part .numbe_page,
  #prouct_part .count_page {
    margin-top: 30px;
  }

  #prouct_part .count_page nav span.cnt_pg {
    margin-top: 5px;
    font-size: 16px;
  }

  #prouct_part .product_img_part {
    margin: 30px 0;
  }

  #prouct_part .product_img_part .star i {
    font-size: 12px;
  }

  #prouct_part {
    padding: 40px 0;
  }

  #prouct_part .product_img_part .product_img_overlay .product_details_icon {
    transform: translateY(-25%);
  }

  #prouct_part .product_img_part .product_img_overlay .product_details_icon a {
    transform: translateX(200px);
    transition: all linear 0.5s;
  }

  .product_details_text {
    padding: 35px 30px;
  }

  #prouct_part .product_img_part:hover a:last-child {
    transition-delay: 0.1s;
  }

  #prouct_part
    .product_img_part:hover
    .product_img_overlay
    .product_details_icon
    a {
    transform: translateX(35px);
  }

  .product_content {
    padding: 0;
    margin: 0;
  }

  .shorting {
    margin: 0;
  }

  #product_details .product-details .product_brief h3 {
    padding-top: 30px;
  }

  #product_details .product-details .product_brief h4 {
    padding-top: 10px;
  }

  #product_details .product-details .product_brief h5 {
    padding-top: 20px;
  }

  #product_details
    .product-details
    .product_brief
    .quality_nav
    .quality_button.quality_down {
    right: 385px;
  }

  #product_details .cetegory h2 {
    padding-top: 30px;
  }

  #product_details .product-details .tab_part {
    margin-top: 30px;
  }

  #product_details .product-details .product_brief p {
    padding-top: 0;
  }

  .bleow_pages {
    margin-bottom: 40px;
  }

  section.main_product_part {
    padding: 60px 0;
  }

  #blog-detailes .detailes_img {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  #blog-detailes .blog-detailes-heading h5 {
    font-size: 19px;
    padding-top: 10px;
  }

  #blog-detailes .blog-detailes-text p.blog_tp {
    padding-top: 25px;
  }

  #blog-detailes .tag ul li a {
    font-size: 14px;
    padding: 8px 13px;
    margin-bottom: 10px;
  }

  #blog-detailes .tag ul li a.full_view {
    margin-left: 55px;
  }

  .ml-25 {
    margin-left: 0;
  }

  #blog_comment .blog_form {
    margin-top: 30px;
  }

  #blog_part {
    padding: 100px 0;
  }

  #cart_part .cart_table table thead tr th {
    font-size: 16px;
  }

  #cart_part .cart_table table tbody tr td a.trash {
    font-size: 22px;
  }

  #cart_part .cart_table table tbody tr td .cart_prodct {
    margin: 20px 20px 10px 20px;
  }

  #cart_part .cart_table table tbody tr td .cart_content h3 {
    padding-bottom: 5px;
  }

  #cart_part .cart_table table tbody tr td .cart_content ul li i {
    margin-bottom: 20px;
  }

  #cart_part .coupon_area {
    margin-top: 60px;
  }

  #cart_part .coupon_area h4 {
    text-align: center;
    padding-bottom: 20px;
  }

  .cartcupon-wrap ul li a,
  .cartcupon-wrap ul li button {
    padding: 10px 15px;
    font-size: 14px;
  }

  #cart_part .coupon_area h5 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .check_form {
    margin-bottom: 30px;
  }

  .order {
    margin: 0;
  }

  .sort_select.form-group {
    margin-top: 20px !important;
  }

  #prouct_part .sort_select select {
    padding: 10px 15px;
    font-size: 14px;
    color: var(--blue);
    width: 250px;
  }

  .short_right {
    justify-content: start;
    margin-top: 20px;
  }

  .cartcupon-wrap h3 {
    margin-top: 60px;
  }

  .cart-total {
    margin-top: 50px;
  }

  #cart_part .coupon_area form {
    text-align: center;
  }

  #cart_part .coupon_area .cart_input {
    width: calc(90%);
  }

  #cart_part .coupon_area ul.update a {
    font-size: 18px;
    padding: 8px 20px;
    margin-top: 60px;
  }

  .xp-15 {
    padding: 0 15px !important;
  }

  #contac_part {
    padding: 60px 0;
  }

  #contac_part .info_prt {
    text-align: center;
  }

  #contac_part .send_mesage {
    text-align: center;
    margin-top: 60px;
  }

  #footer_part .about_krestfeest .p_2 {
    padding-top: 15px;
  }

  .footer_bottom .f-l {
    float: left;
  }

  .footer_bottom .f-r {
    float: right;
  }

  .Categories {
    padding-top: 20px;
  }

  .important_link {
    padding-top: 20px;
  }

  .follow_us {
    padding-top: 20px;
  }

  .information {
    padding-top: 10px;
  }
  .blog_content {
    grid-row-gap: 40px;
  }
  .video_content {
    grid-row-gap: 40px;
  }
  .main_video .video_text {
    padding: 14px 15px;
  }
  .video_title {
    padding: 30px 10px 10px 10px;
  }
  .video_title h2 {
    font-size: 17px;
  }
  .video_title ul li {
    margin: 20px 10px 20px 0px;
  }
  .video_title .video_share ul.video_share_icon li {
    margin: 10px 0px 20px 0px;
  }
  .video_title .video_share span {
    margin-right: 0;
  }
  .video_related_main {
    grid-row-gap: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header nav .navbar-nav {
    text-align: center;
  }

  header nav .navbar-nav .nav-item .nav-link {
    line-height: 25px;
    padding: 0;
    transition: all linear 0.2s;
  }

  .right_menu li a::after {
    position: absolute;
    content: "";
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  header nav .right_menu li a.nav-link {
    padding: 5px 0;
  }

  header nav .right_menu li.shop-padding {
    padding: 0;
  }

  header nav .navbar-nav .nav-item .dropdown.top_60 {
    left: 314px;
    top: 0px;
  }

  header nav .navbar-nav .nav-item .dropdown.top_15 {
    left: 314px;
    top: -70px;
  }

  header nav .navbar-nav .nav-item .dropdown,
  header nav .right_menu .nav_item .dropdown {
    left: 328px;
  }

  header nav .right_menu .nav_item .dropdown.top_141 {
    left: 314px;
    top: -110px;
  }

  header nav .navbar-nav .nav-item:hover .dropdown.top_60 {
    top: -60px;
  }

  header nav .navbar-nav .nav-item:hover .dropdown.top_15 {
    top: -128px;
  }

  header nav .right_menu .nav_item:hover .dropdown {
    top: 15px;
  }

  header nav .right_menu .nav_item:hover .dropdown.top_141 {
    top: -145px;
  }

  header nav .right_menu .nav_item .dropdown2 {
    width: 270px;
    left: 307px;
    padding-bottom: 10px;
    top: -100px;
  }

  header nav .right_menu .nav_item .dropdown2 h3 {
    font-size: 16px;
  }

  header nav .right_menu .nav_item:hover .dropdown2 {
    top: -140px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a {
    margin-right: 16px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a p,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a p {
    font-size: 16px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a span,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a span {
    font-size: 14px;
    font-weight: 500;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a .icon i,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a .icon i {
    right: -45px;
  }

  header nav .right_menu .nav_item .dropdown3 {
    left: 307px;
    width: 215px;
    padding-bottom: 10px;
    top: 30px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 li {
    margin-bottom: 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 img {
    width: 50px !important;
  }

  header nav .right_menu .nav_item:hover .dropdown3 {
    top: 0px;
  }

  header nav .right_menu .nav_item .dropdown3 h3 {
    padding: 13px 10px;
    font-size: 16px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 {
    padding-bottom: 0;
    padding: 10px 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a {
    margin-right: 17px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a p,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a p {
    font-size: 16px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a span,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a span {
    font-size: 14px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a .icon i,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a .icon i {
    right: -45px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.total span {
    font-size: 14px;
    padding: 10px 0;
  }

  header nav .right_menu .nav_item .dropdown3 ol {
    margin-top: 5px;
  }

  header nav .right_menu .nav_item .dropdown3 ol li a {
    line-height: 30px;
    font-size: 13px;
    padding: 0 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 {
    padding-top: 0px;
  }

  /* HEARDER PART ENDS*/

  #banner .banner_text {
    text-align: center;
    padding-top: 15px;
  }

  #banner .banner_text h3 {
    padding-top: 60px;
    font-size: 27px;
  }
  #banner .banner_text p {
    text-align: justify;
  }

  #banner .banner_text h1 {
    font-size: 55px;
    margin-top: -7px;
  }

  #banner .banner_text a {
    margin-top: 15px;
    margin-bottom: 0;
  }
  #banner .banner_image img.banner_img {
    width: 200px !important;
    height: 200px;
  }
  #banner .banner_image {
    padding-top: 75px;
    position: relative;
    z-index: 10;
    text-align: center;
  }
  .hero-shape {
    display: none;
  }
  /*BANNER PART ENDS*/

  #prouct_part {
    padding: 40px 0;
  }

  .pagination > li > a {
    border-radius: 0 !important;
    border-color: #555;
    color: #555;
    padding: 8px 12px;
  }

  #prouct_part .numbe_page p {
    text-align: left;
  }

  #prouct_part .sort_icon {
    text-align: left;
  }

  #prouct_part .numbe_page,
  #prouct_part .count_page {
    margin-top: 30px;
  }

  #prouct_part .count_page nav span.cnt_pg {
    margin-top: 5px;
    font-size: 16px;
  }

  #prouct_part .product_img_part {
    margin: -15px 0;
  }

  #product_details
    .product-details
    .product_brief
    .quality_nav
    .quality_button.quality_down {
    right: 350px;
  }

  #product_details .product-details .product_brief h3 {
    padding-top: 30px;
  }

  #product_details .product-details .product_brief h4 {
    padding-top: 10px;
  }

  #product_details .product-details .product_brief h5 {
    padding-top: 20px;
  }

  #product_details .cetegory h2 {
    padding-top: 30px;
  }

  #product_details .product-details .tab_part {
    margin-top: 30px;
  }

  #product_details .product-details .product_brief p {
    padding-top: 0;
  }

  .short_right {
    justify-content: start;
    margin-top: 20px;
  }

  #prouct_part
    .product_img_part:hover
    .product_img_overlay
    .product_details_icon
    a {
    transform: translateX(-40px);
  }

  /*    PRODUCT P[ART ENDS*/

  .bleow_pages {
    margin-bottom: 40px;
  }

  #blog_part {
    padding: 60px 0;
  }

  #blog_part .blog_content .main_blog {
    margin-top: 90px;
  }

  #blog_part .blog_content {
    margin: 0;
    padding: 0;
  }

  #blog-detailes .detailes_img {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  #blog-detailes .blog-detailes-heading h5 {
    font-size: 19px;
    padding-top: 10px;
  }

  #blog-detailes .blog-detailes-text p.blog_tp {
    padding-top: 25px;
  }

  #blog-detailes .tag ul li a {
    font-size: 14px;
    padding: 8px 13px;
    margin-bottom: 10px;
  }

  #blog-detailes .tag ul li a.full_view {
    margin-left: 55px;
  }

  #blog-detailes .tag ul li a.Describe {
    margin-left: 55px;
  }

  #blog-detailes .tag ul li a {
    margin: 0 2px;
    margin-bottom: 10px;
  }

  .ml-25 {
    margin-left: 0;
  }

  #blog_comment .blog_form {
    margin-top: 30px;
  }

  #blog_part {
    padding: 100px 0;
  }

  #cart_part .cart_table table thead tr th {
    font-size: 16px;
  }

  #cart_part .cart_table table tbody tr td a.trash {
    font-size: 22px;
  }

  #cart_part .cart_table table tbody tr td .cart_prodct {
    margin: 20px 30px 10px 30px;
  }

  #cart_part .cart_table table tbody tr td .cart_content h3 {
    padding-bottom: 5px;
  }

  #cart_part .cart_table table tbody tr td .cart_content ul li i {
    margin-bottom: 20px;
  }

  #cart_part .coupon_area {
    margin-top: 60px;
  }

  #cart_part .coupon_area h4 {
    text-align: left;
    padding-bottom: 10px;
  }

  #cart_part .coupon_area h5 {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  #cart_part .coupon_area form {
    text-align: center;
  }

  #cart_part .coupon_area .cart_input {
    width: calc(90%);
  }

  #cart_part .coupon_area ul.update a {
    font-size: 18px;
    padding: 8px 20px;
    margin-top: 60px;
  }

  .check_form {
    margin-bottom: 30px;
  }

  #footer_part .about_krestfeest .p_2 {
    padding-top: 15px;
  }

  .footer_bottom .f-l {
    float: left;
  }

  .footer_bottom .f-r {
    float: right;
  }

  .Categories {
    padding-top: 20px;
  }

  .important_link {
    padding-top: 20px;
  }

  .follow_us {
    padding-top: 10px;
  }

  .information {
    padding-top: 10px;
  }
  .video_content {
    grid-row-gap: 40px;
  }
  .main_video .video_text {
    padding: 14px 7px;
  }
  .video_related_main {
    grid-row-gap: 40px;
  }
  .video_text ul li {
    margin: 10px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header nav .navbar-nav {
    text-align: center;
  }

  header nav .navbar-nav .nav-item .nav-link {
    line-height: 25px;
    padding: 0;
    transition: all linear 0.2s;
  }

  .right_menu li a::after {
    position: absolute;
    content: "";
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  header nav .right_menu li a.nav-link {
    padding: 5px 0;
  }

  header nav .right_menu li.shop-padding {
    padding: 0;
  }

  #banner .banner_img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 35px !important;
  }

  #banner .banner_text {
    margin-top: 20px;
  }

  #banner .banner_text p {
    text-align: justify;
  }

  #banner .banner_text h3 {
    padding-top: 30px;
    font-size: 27px;
  }

  #banner .banner_text h1 {
    font-size: 45px;
    margin-top: -7px;
  }

  #banner .banner_text a {
    margin-top: 13px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  #banner .banner_image img.banner_img {
    width: 260px !important;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
  }

  header nav .navbar-nav .nav-item .dropdown.top_60 {
    left: 405px;
    top: 0px;
  }

  header nav .navbar-nav .nav-item .dropdown.top_15 {
    left: 405px;
    top: -70px;
  }

  header nav .right_menu .nav_item .dropdown.top_141 {
    left: 405px;
    top: -110px;
  }

  header nav .navbar-nav .nav-item:hover .dropdown.top_60 {
    top: -60px;
  }

  header nav .navbar-nav .nav-item:hover .dropdown.top_15 {
    top: -128px;
  }

  header nav .right_menu .nav_item:hover .dropdown.top_141 {
    top: -145px;
  }

  header nav .right_menu .nav_item .dropdown2 {
    width: 270px;
    left: 405px;
    padding-bottom: 10px;
    top: -100px;
  }

  header nav .right_menu .nav_item .dropdown2 h3 {
    font-size: 16px;
  }

  header nav .right_menu .nav_item:hover .dropdown2 {
    top: -140px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a {
    margin-right: 16px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a p,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a p {
    font-size: 16px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a span,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a span {
    font-size: 14px;
    font-weight: 500;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a .icon i,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a .icon i {
    right: -45px;
  }

  header nav .right_menu .nav_item .dropdown3 {
    left: 405px;
    width: 270px;
    padding-bottom: 10px;
    top: -150px;
  }

  header nav .right_menu .nav_item:hover .dropdown3 {
    top: -180px;
  }

  header nav .right_menu .nav_item .dropdown3 h3 {
    padding: 13px 10px;
    font-size: 16px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 {
    padding-bottom: 0;
    padding: 10px 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a {
    margin-right: 17px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a p,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a p {
    font-size: 16px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a span,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a span {
    font-size: 14px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a .icon i,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a .icon i {
    right: -45px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.total span {
    font-size: 14px;
    padding: 10px 0;
  }

  header nav .right_menu .nav_item .dropdown3 ol {
    margin-top: 5px;
  }

  header nav .right_menu .nav_item .dropdown3 ol li a {
    line-height: 30px;
    font-size: 13px;
    padding: 0 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 {
    padding-top: 0px;
  }

  header nav .right_menu .nav_item .dropdown3 {
    right: 0;
    width: 215px;
    padding-bottom: 10px;
    top: -150px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 li {
    margin-bottom: 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 img {
    width: 50px !important;
  }

  header nav .right_menu .nav_item:hover .dropdown3 {
    top: 0px;
  }

  header nav .navbar-nav .nav-item .dropdown,
  header nav .right_menu .nav_item .dropdown {
    left: 400px;
  }

  header nav .right_menu .nav_item:hover .dropdown {
    top: 20px;
  }

  header nav .right_menu .nav_item .dropdown3 {
    top: 30px;
  }

  /*    BANNER PART ENDS*/

  #prouct_part {
    padding: 60px 0;
  }

  #prouct_part .count_page nav span.cnt_pg {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 14px;
  }

  .pagination > li > a {
    padding: 4px 8px;
  }

  #prouct_part .numbe_page p {
    margin-top: 5px;
  }

  .sort_icon {
    display: block;
  }

  #prouct_part .sort_icon a i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 0;
  }

  #prouct_part .sort_select span {
    font-size: 14px;
  }

  #prouct_part .sort_select select {
    font-size: 14px;
    padding: 5px 5px;
  }

  #produc_grid_bill .sort_icon a i {
    font-size: 15px;
    padding: 5px;
    margin-right: 0;
  }

  #produc_grid_bill .sort_select select {
    font-size: 16px;
    padding: 8px 4px;
  }

  #produc_grid_bill .count_page .pagination > li > a {
    padding: 10px 12px;
  }

  #produc_grid_bill .product_grid_main .product_img_part {
    margin-bottom: 40px;
  }

  #produc_grid_bill .sort_icon {
    margin-top: 9px;
  }

  #produc_grid_bill .sort_select {
    margin-top: 4px;
  }

  #customer .customer_1 {
    background: #fff;
    padding: 30px 8px;
    border-radius: 5px;
    margin-top: 60px;
  }

  #prouct_part .product_img_part {
    margin: 0;
  }

  #produc_grid_bill .product_img_part .star i {
    color: #fcc10d;
    font-size: 12px;
  }

  #produc_grid_bill .product_img_part .price {
    font-size: 16px;
  }

  #product_details .product-details .product_brief h3 {
    padding-top: 30px;
  }

  #product_details .product-details .product_brief h4 {
    padding-top: 10px;
  }

  #product_details .product-details .product_brief p {
    padding-top: 0;
  }

  #product_details .product_img_part .star i {
    font-size: 14px;
  }

  #product_details
    .product-details
    .product_brief
    .quality_nav
    .quality_button.quality_down {
    right: 350px;
  }

  #product_details .product-details .tab_part {
    margin-top: 40px;
  }

  #blog_part .blog_content .main_blog .blog_text .date {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    color: #444;
    font-weight: 400;
    padding-bottom: 20px;
  }

  #blog_part .blog_content .main_blog .blog_text h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    padding-top: 0px;
    transition: all linear 0.3s;
  }

  #blog_part .blog_content .main_blog .blog_text p {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 10px;
    text-align: justify;
  }

  #blog_part .blog_content .main_blog .blog_text .like_and_comment span {
    font-size: 12px;
    color: #777;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    margin-left: 10px;
  }

  #blog_part {
    padding: 80px 0;
  }

  #blog_part .blog_content .main_blog {
    margin-top: 40px;
  }

  #blog_part .blog_content {
    margin: 0;
    padding: 0;
  }

  #blog-detailes .tag ul li a {
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 15px;
  }

  #blog-detailes .tag ul li a.Corporate {
    margin-left: 55px;
  }

  #cart_part .cart_table table thead tr th {
    font-size: 16px;
  }

  #cart_part .cart_table table tbody tr td a.trash {
    font-size: 22px;
  }

  #cart_part .cart_table table tbody tr td .cart_prodct {
    margin: 30px 30px 15px 30px;
  }

  #cart_part .cart_table table tbody tr td .cart_content h3 {
    padding-bottom: 5px;
  }

  #cart_part .cart_table table tbody tr td .cart_content ul li i {
    margin-bottom: 30px;
  }

  #cart_part .coupon_area {
    margin-top: 60px;
  }

  #cart_part .coupon_area h4 {
    text-align: left;
    padding-bottom: 10px;
  }

  #cart_part .coupon_area h5 {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  #cart_part .coupon_area form {
    text-align: center;
  }

  #cart_part .coupon_area .cart_input {
    width: calc(92%);
  }

  #cart_part .coupon_area ul.update a {
    font-size: 18px;
    padding: 8px 20px;
    margin-top: 60px;
  }

  .check_form {
    margin-bottom: 30px;
  }

  .footer_bottom .f-l {
    float: left;
  }

  .footer_bottom .f-r {
    float: right;
  }

  .Categories {
    padding-top: 20px;
  }

  .important_link {
    padding-top: 20px;
  }

  .follow_us {
    padding-top: 20px;
  }

  .information {
    padding-top: 20px;
  }

  #customer .customer_1 {
    padding: 30px 10px;
  }
  .video_content {
    grid-row-gap: 40px;
  }
  .main_video .video_text {
    padding: 15px 15px;
  }
  .video_related_main {
    grid-row-gap: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #banner .banner_img .man {
    position: absolute;
    top: 20px;
    right: -65px;
  }

  #banner .banner_img {
    position: relative;
    left: -20%;
    top: 7%;
    margin-left: 45px;
  }
  header nav .right_menu .nav_item .dropdown3 {
    left: -140px;
  }
  #banner .banner_image img.banner_img {
    width: 340px !important;
    height: 340px;
  }
  .sort_icon i {
    padding: 8px;
    font-size: 12px;
  }

  #prouct_part {
    padding: 50px 0;
  }

  #prouct_part .sort_icon {
    margin-top: 5px;
  }

  #prouct_part .sort_icon a i {
    font-size: 14px;
    width: 31px;
    height: 31px;
    line-height: 15px;
  }

  .check_form {
    margin-bottom: 30px;
  }

  .pagination > li > a {
    padding: 10px 15px;
  }

  #prouct_part .count_page nav span.cnt_pg {
    font-size: 18px;
    margin-top: 6px;
  }

  #prouct_part .sort_select span {
    font-size: 16px;
  }

  #prouct_part .sort_select select {
    font-size: 14px;
  }

  #prouct_part .sort_select select {
    padding: 7px 8px;
  }

  #banner .banner_text a {
    margin-top: 30px;
  }

  #prouct_part .product_heading p {
    padding-top: 5px;
    font-size: 13px;
    padding-bottom: 30px;
  }

  #prouct_part .product_img .product_img_overlay i {
    margin: 0;
  }

  #prouct_part .product_img_part .price {
    font-size: 16px;
  }

  #prouct_part .product_img_part .star {
    padding-top: 3px;
  }

  #prouct_part .product_img_part .star i {
    color: #fcc10d;
    font-size: 12px;
  }

  #product_details .product-details .product_brief ul {
    margin-top: 0;
  }

  #blog_part .blog_content .main_blog .blog_text h3 {
    font-size: 15px;
    padding-top: 0;
  }

  #product_details .product-details .product_brief h4 {
    padding-top: 5px;
  }

  #product_details .product-details .product_brief h5 {
    padding-bottom: 5px;
  }

  #product_details .product-details .product_brief p {
    padding-top: 5px;
  }

  #product_details
    .product-details
    .product_brief
    .quality_nav
    .quality_button.quality_down {
    right: 230px;
  }

  #product_details .product-details .product_brief .quality {
    margin-top: 20px;
  }

  #product_details .product-details .product_brief .ad_to {
    margin-top: 18px;
  }

  #product_details .product-details .product_brief .social_detailes {
    margin-top: 20px;
  }

  #product_details .product_img_part .star i {
    font-size: 14px;
  }

  #produc_grid_bill .product_img_part .price {
    font-size: 14px;
  }

  #product_details .product-details .tab_part {
    margin-top: 40px;
  }

  #blog_part .blog_content .main_blog .blog_text p {
    padding-top: 10px;
  }

  #blog_part .blog_content .main_blog .blog_text .like_and_comment span {
    font-size: 12px;
  }

  #blog_part .blog_content .main_blog .blog_text .date {
    font-size: 11px;
  }

  #blog_part .blog_content .main_blog .blog_text .like_and_comment span i {
    font-size: 10px;
    margin-right: 3px;
  }

  #blog_part {
    padding: 60px 0;
  }

  header nav .right_menu .nav_item .dropdown3 {
    width: 240px;
    padding-bottom: 10px;
  }

  header nav .right_menu .nav_item .dropdown3 ul.drop-item1 a .icon i,
  header nav .right_menu .nav_item .dropdown3 ul.drop-item2 a .icon i {
    right: -32px;
  }

  header nav .right_menu .nav_item .dropdown2 ul.drop-item1 a .icon i,
  header nav .right_menu .nav_item .dropdown2 ul.drop-item2 a .icon i {
    right: -32px;
  }

  header nav .right_menu .nav_item .dropdown3 ol li a {
    font-size: 14px;
    padding: 0 10px;
    line-height: 35px;
  }

  header nav .right_menu .nav_item .dropdown2 {
    width: 240px;
  }

  #cart_part .coupon_area h5 {
    padding-top: 60px;
    padding-bottom: 10px;
  }

  #cart_part .coupon_area ul li {
    font-size: 16px;
  }

  #cart_part .cart_table table tbody tr td a.trash {
    font-size: 26px;
  }

  #cart_part .coupon_area ul.update a {
    font-size: 16px;
    padding: 6px 15px;
  }

  #cart_part .coupon_area .cart_input {
    width: calc(76%);
  }

  #cart_part .cart_table table thead tr th {
    font-size: 18px;
  }

  #contac_part .info_prt p {
    font-size: 12px;
  }

  #contac_part .info_prt ul li a {
    margin: 0 4px;
  }

  #contac_part .info_prt h3 {
    padding-bottom: 32px;
  }

  .footer_bottom .f-l {
    float: left;
  }

  .footer_bottom .f-r {
    float: right;
  }

  #footer_part .footer_bottom .number a {
    margin-right: -50px;
    font-size: 14px;
  }

  #footer_part .footer_bottom .cop_right p {
    font-size: 16px;
  }

  #footer_part .footer_top h2 {
    font-size: 20px;
  }

  #footer_part .footer_top .Categories ul,
  #footer_part .footer_top .important_link ul,
  #footer_part .footer_top .follow_us ul,
  #footer_part .footer_top .information ul {
    margin-top: 20px;
  }

  #footer_part .about_krestfeest .p_1 {
    padding-top: 20px;
  }

  #footer_part .about_krestfeest .p_2 {
    padding-top: 5px;
  }
  .main_video .video_text {
    padding: 15px 7px;
  }
  .video_text ul li {
    margin: 10px 5px;
  }
  .video_text ul li i {
    margin-right: 0;
  }
}
